<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

    <display-name>Identity Provider</display-name>
    <error-page>
      <error-code>404</error-code>
      <location>/404</location>
    </error-page>

    <!-- Servlet for receiving a callback from an external Server and continues the IdP login flow -->
     <servlet>
        <servlet-name>ExternalAuth</servlet-name>
        <servlet-class>external.ExternalAuth</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExternalAuth</servlet-name>
        <url-pattern>/Authn/External/*</url-pattern>
    </servlet-mapping>
</web-app>

